@font-face {
  font-family: Helvetica;
  src: url("../font/HelveticaRegular.eot");
  src: url("../font/HelveticaRegular.eot?iefix") format('eot'),
  url("../font/HelveticaRegular.woff") format('woff'),
  url("../font/HelveticaRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaBold;
  src: url("../font/HelveticaBold.eot");
  src: url("../font/HelveticaBold.eot?iefix") format('eot'),
  url("../font/HelveticaBold.woff") format('woff'),
  url("../font/HelveticaBold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  body {
    background: #EDEDED;
    font-family: Helvetica, sans-serif;
    font-size: 18px;

    #site-menu {
      background: #0F70B7;

      a, span {
        color: white;
        font-weight: bold;
      }

      img {
        min-height: 41.4px;
        height: 41.4px;
      }

      #block-menu-menu-top-menu {
        .content {
          & > ul {
            & > li {
              list-style: none;
              display: inline-block;
              padding: 11px;
            }
          }
        }
      }

      .block-title {
        display: none;
      }

      #block-locale-language {
        float: left;


        .language-switcher-locale-url {
          list-style: none;

          li {
            float: left;
            width: 2em;
            margin: 1em;
            overflow: hidden;
            text-transform: uppercase;
            background: transparent;

            a {
              text-decoration: none;
            }
          }
        }
      }
    }

    footer {
      background: #0F70B7;

      .region-footer {
        a {
          color: white;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        #block-views-categories-block-1 {
          .block-title {
            display: none;
          }

          .view-categories {
            td {
              padding: 5px 10px
            }
          }

        }
      }
    }
  }
}
