html {
  body {
    background: #EDEDED;
    .region-header {
      #block-locale-language {
        float: left;

        .block-title {
          display: none;
        }

        .language-switcher-locale-url {
          list-style: none;

          li {
            float: left;
            width: 2em;
            margin: 1em;
            overflow: hidden;
            text-transform: uppercase;
            background: transparent;

            a {
              text-decoration: none;
            }
          }
        }
      }

      #block-views-categories-block {
        float: left;

        .block-title {
          display: none;
        }

        .view-categories {
          .views-row {
            float: left;
            margin: 10px;
          }
        }
      }
    }

    footer {
      background: #0F70B7;

      .region-footer {
        a {
          color: white;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        #block-views-categories-block-1 {
          .block-title{
            display: none;
          }
          .view-categories {
            td {
              padding: 5px 10px
            }
          }

        }
      }
    }
  }
}
