@font-face {
  font-family: Helvetica;
  src: url("../font/HelveticaRegular.eot");
  src: url("../font/HelveticaRegular.eot?iefix") format("eot"), url("../font/HelveticaRegular.woff") format("woff"), url("../font/HelveticaRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: HelveticaBold;
  src: url("../font/HelveticaBold.eot");
  src: url("../font/HelveticaBold.eot?iefix") format("eot"), url("../font/HelveticaBold.woff") format("woff"), url("../font/HelveticaBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
html body {
  background: #EDEDED;
  font-family: Helvetica, sans-serif;
  font-size: 18px; }
  html body h3 {
    font-size: 18px; }
  html body #navbar {
    background: #1d71d8; }
    html body #navbar .block-title {
      display: none; }
    html body #navbar .menu.nav.navbar-nav {
      display: none; }
    html body #navbar #block-menu-menu-top-menu {
      display: inline-block; }
      html body #navbar #block-menu-menu-top-menu .menu.nav > li {
        list-style: none;
        display: inline-block;
        padding: 10px; }
        html body #navbar #block-menu-menu-top-menu .menu.nav > li a {
          text-transform: uppercase; }
          html body #navbar #block-menu-menu-top-menu .menu.nav > li a:hover {
            background: #1f3d82; }
        html body #navbar #block-menu-menu-top-menu .menu.nav > li:hover {
          background: #1f3d82; }
        html body #navbar #block-menu-menu-top-menu .menu.nav > li.expanded.open {
          background: #1f3d82; }
          html body #navbar #block-menu-menu-top-menu .menu.nav > li.expanded.open > a {
            background: #1f3d82; }
          html body #navbar #block-menu-menu-top-menu .menu.nav > li.expanded.open .dropdown-menu {
            background: #c6c6c6; }
            html body #navbar #block-menu-menu-top-menu .menu.nav > li.expanded.open .dropdown-menu li {
              text-align: center; }
              html body #navbar #block-menu-menu-top-menu .menu.nav > li.expanded.open .dropdown-menu li a {
                background: #c6c6c6; }
                html body #navbar #block-menu-menu-top-menu .menu.nav > li.expanded.open .dropdown-menu li a:hover {
                  background: #e30613; }
    html body #navbar #block-block-2 {
      display: inline-block;
      white-space: nowrap; }
      html body #navbar #block-block-2 .logo-top-svg {
        text-decoration: none; }
        html body #navbar #block-block-2 .logo-top-svg:hover {
          text-decoration: none; }
        html body #navbar #block-block-2 .logo-top-svg img {
          height: 41.4px; }
    html body #navbar #block-locale-language {
      display: inline-block; }
      html body #navbar #block-locale-language li {
        list-style: none;
        display: inline-block;
        padding: 3px 6px;
        border-radius: 5px;
        background: transparent; }
        html body #navbar #block-locale-language li a {
          text-transform: uppercase;
          text-decoration: none; }
          html body #navbar #block-locale-language li a:hover {
            text-decoration: none; }
        html body #navbar #block-locale-language li.active {
          background: white; }
          html body #navbar #block-locale-language li.active a {
            color: #1d71d8; }
    html body #navbar a {
      color: white; }
  html body #breadcrub .breadcrumb {
    margin-bottom: 0; }

/*# sourceMappingURL=b3.css.map */
