$bg: #1d71d8;
@font-face {
  font-family: Helvetica;
  src: url("../font/HelveticaRegular.eot");
  src: url("../font/HelveticaRegular.eot?iefix") format('eot'),
  url("../font/HelveticaRegular.woff") format('woff'),
  url("../font/HelveticaRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaBold;
  src: url("../font/HelveticaBold.eot");
  src: url("../font/HelveticaBold.eot?iefix") format('eot'),
  url("../font/HelveticaBold.woff") format('woff'),
  url("../font/HelveticaBold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: PFDinTextCondPro;
  src: url("../font/pfdintextcondpro-regular.ttf");
  font-style: normal;
}

html {
  body {

    background: #EDEDED;
    font-family: Helvetica, sans-serif;
    font-size: 18px;

    h3 {
      font-size: 18px;
    }

    #navbar {
      .block-title {
        display: none;
      }

      margin-bottom: 0;

      .menu {
        &.nav {
          &.navbar-nav {
            display: none;
          }
        }
      }

      #block-menu-menu-top-menu {
        display: inline-block;

        .menu {
          &.nav {
            & > li {
              list-style: none;
              display: inline-block;
              padding: 10px;

              a {
                text-transform: uppercase;

                &:hover {
                  background: #1f3d82;
                }
              }

              &:hover {
                background: #1f3d82;
              }

              &.expanded.open {
                background: #1f3d82;

                & > a {
                  background: #1f3d82;
                }

                .dropdown-menu {
                  background: #c6c6c6;

                  li {
                    text-align: center;

                    a {
                      background: #c6c6c6;

                      &:hover {
                        background: #e30613;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      #block-block-2 {
        display: inline-block;
        white-space: nowrap;

        .logo-top-svg {
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          img {
            height: 41.4px;
          }
        }
      }

      background: $bg;

      #block-locale-language {
        display: inline-block;

        li {
          list-style: none;
          display: inline-block;
          padding: 3px 6px;
          border-radius: 5px;
          background: transparent;

          a {
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }
          }

          &.active {
            background: white;

            a {
              color: $bg;
            }
          }
        }
      }

      #block-block-4 {
        display: inline-block;
        position: relative;
        #login_button.login-icon {
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          line-height: 60px;
          padding: 0;
          margin: 0;

          img {
            height: 26px;
          }

          .open,
          &:hover {
            background: #1f3d82;
          }
        }

        .dropdown-menu {
          background: #c6c6c6;
          text-align: center;
          a {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
              background: #e30613;
            }
          }
        }
      }

      a {
        color: white;
      }
    }

    .question-query {
      position: relative;
      margin-bottom: 10px;

      .cat-shifter {
        width: 83px;
      }

      .query-sign {
        width: 16px;
        position: absolute;
        bottom: 3px;
        right: 120px
      }

      a {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        background: $bg;
        padding: 3px 6px;
        border-radius: 4px;
        font-family: PFDinTextCondPro, sans-serif;

        &:hover {
          text-decoration: none;
        }
      }
    }

    #breadcrumb {
      padding: 0;
      background: #f5f5f5;

      .breadcrumb {
        margin-bottom: 0;
        padding: 0;
        text-transform: lowercase;
        color: #878787;
        font-size: 90%;
        font-style: italic;
        overflow: hidden;
        white-space: nowrap;

        li {
          display: inline-block;
          white-space: nowrap;

          a {
            color: #878787;
            font-style: italic;
          }
        }
      }
    }

    #colorbox {
      #cboxLoadedContent {
        #breadcrumb,
        .page-header,
        aside,
        header,
        footer {
          display: none;
        }
        .main-container{
          &.container{
            width: 600px;
            &>.row{
              width: 600px;
              .col-sm-6{
                width: 100%;
              }
            }
          }
        }
      }
    }
    #block-views-articles-block{
      .block-title{
        color:$bg;
        font-size: 24px;
      }
      .views-field-title{
        padding: 0;
        h3 {
          margin: 0;
          a {
            color: black;
            font-size: 18px;
          }
        }
      }
      .views-field-created{
        padding: 0;
        margin-bottom: 3rem;
        span{
          color:#9d9d9c;
          font-size: 16px;
        }
      }
    }
  }
}
