@charset "utf-8";
$bg: #1d71d8;
$red: #e30613;
$siver: #dadada;
@font-face {
  font-family: Helvetica;
  src: url("../font/HelveticaRegular.eot");
  src: url("../font/HelveticaRegular.eot?iefix") format('eot'),
  url("../font/HelveticaRegular.woff") format('woff'),
  url("../font/HelveticaRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaBold;
  src: url("../font/HelveticaBold.eot");
  src: url("../font/HelveticaBold.eot?iefix") format('eot'),
  url("../font/HelveticaBold.woff") format('woff'),
  url("../font/HelveticaBold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: PFDinTextCondPro;
  src: url("../font/pfdintextcondpro-regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../font/OpenSans-Regular.ttf");
  font-style: normal;
}

html {
  body {

    background: #EDEDED;
    font-family: Helvetica, sans-serif;
    font-size: 18px;

    .container-fluid {
      &.main-container {
        max-width: 1920px;
        padding-bottom: 90px;

        #sidebar_second {
          #block-block-1 {
            //position: fixed;
            //position: absolute;
            //top: 200px;
            //right: 15px;
            //z-index: 0;
          }
        }
      }
    }

    h3 {
      font-size: 18px;
    }

    #navbar {
      width: 100%;

      .block-title {
        display: none;
      }

      margin-bottom: 0;

      .menu {
        &.nav {
          &.navbar-nav {
            display: none;
          }
        }
      }

      #navigation-wrapper {
        height: 65.7px;
        display: table;

        #block-menu-menu-top-menu {
          //overflow: hidden;
          .menu {
            .more ~ li {
              display: none;
              visibility: hidden;
              height: 1px;
              overflow: hidden;
              z-index: -999px;
            }
          }
        }

        &.extended {
          #block-menu-menu-top-menu {
            //overflow: visible;
            .menu {
              .more ~ li {
                display: inline-block;
                visibility: visible;
                height: auto;
                overflow: visible;
                z-index: auto;
              }
            }
          }
        }

      }

      #block-menu-menu-top-menu {
        display: table-cell;
        width: 100%;
        padding-right: 52px;
        height: 65px;

        .menu {
          background: $bg;
          height: auto;

          &.nav {
            & > li {
              list-style: none;
              display: inline-block;
              padding: 10px;

              a {
                text-transform: uppercase;
                padding: 10px 5px;

                .caret {
                  display: none;
                }

                &:focus {
                  background: $bg;
                }

                &:hover {
                  background: #1f3d82;
                }
              }

              &:focus {
                background: $bg;
              }

              &:hover {
                background: #1f3d82;
              }

              &.expanded.open {
                background: #1f3d82;

                & > a {
                  background: #1f3d82;
                }

                .dropdown-menu {
                  background: #c6c6c6;

                  li {
                    text-align: center;

                    a {
                      background: #c6c6c6;

                      &:hover {
                        background: #e30613;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      #block-block-2 {
        display: table-cell;
        white-space: nowrap;
        padding: 12px 0;

        .logo-top-svg {
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }

          img {

            height: 41.4px;
          }
        }
      }

      background: $bg;

      #block-locale-language {
        display: table-cell;
        width: 60px;

        ul {
          margin: 15px 0 0 0;
          padding: 0;
          white-space: nowrap;

          li {
            list-style: none;
            display: inline-block;
            padding: 3px 6px;
            border-radius: 5px;
            background: transparent;

            a {
              text-transform: uppercase;
              text-decoration: none;

              &:hover {
                text-decoration: none;
              }
            }

            &.active {
              background: white;

              a {
                color: $bg;
              }
            }
          }
        }
      }

      #block-block-4 {
        display: table-cell;
        position: relative;
        margin-right: -60px;

        #login_button.login-icon {
          display: inline-block;
          text-align: center;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          line-height: 60px;
          padding: 0;
          margin: 0;

          img {
            height: 26px;
          }

          .open,
          &:hover {
            background: #1f3d82;
          }
        }

        .dropdown-menu {
          background: #c6c6c6;
          text-align: center;

          a {
            color: white;
            text-transform: uppercase;
            font-weight: bold;

            &:hover {
              background: #e30613;
            }
          }
        }
      }

      a {
        color: white;
      }
    }

    .question-query {
      position: relative;
      margin-bottom: 10px;

      .cat-shifter {
        width: 83px;
      }

      .query-sign {
        width: 16px;
        position: absolute;
        bottom: 3px;
        right: 120px
      }

      a {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        background: $bg;
        padding: 3px 6px;
        border-radius: 4px;
        font-family: PFDinTextCondPro, sans-serif;

        &:hover {
          text-decoration: none;
        }
      }
    }

    #breadcrumb {
      padding: 0;
      background: #f5f5f5;

      .breadcrumb {
        margin-bottom: 0;
        padding: 0;
        text-transform: lowercase;
        color: #878787;
        font-size: 90%;
        font-style: italic;
        overflow: hidden;
        white-space: nowrap;

        li {
          display: inline-block;
          white-space: nowrap;

          a {
            color: #878787;
            font-style: italic;
          }
        }
      }
    }

    #colorbox {
      #cboxLoadedContent {
        #breadcrumb,
        .page-header,
        aside,
        header,
        footer {
          display: none;
        }

        .main-container {
          &.container {
            width: 600px;

            & > .row {
              width: 600px;

              .col-sm-6 {
                width: 100%;
              }
            }
          }
        }
      }
    }

    #block-views-video-lefft-block {
      .block-title {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          margin: 10px 0;

          h3 {
            color: $bg;
            font-size: 18px;
            line-height: 22px;
          }

          .views-field-title {
            font-size: 18px;
            line-height: 22px;
          }

          a {
            display: block;
            position: relative;

            &:before {
              display: block;
              position: absolute;
              box-sizing: border-box;
              top: 50%;
              left: 50%;
              width: 70px;
              height: 70px;
              background: transparent url(/sites/default/files/theme-img/play2.png) 21px center no-repeat;
              background-size: auto;
              background-size: 50%;
              content: '';
              margin: -35px 0 0 -45px;
              transition: transform 0.15s linear;
            }

            &:hover {
              &:before {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }

    #block-views-articles-block {
      .block-title {
        color: $bg;
        font-size: 24px;
      }

      .views-field-title {
        padding: 0;

        h3 {
          margin: 0;

          a {
            color: black;
            font-size: 18px;
          }
        }
      }

      .views-field-created {
        padding: 0;
        margin-bottom: 3rem;

        span {
          color: #9d9d9c;
          font-size: 16px;
        }
      }
    }

    &.page-question {
      .views-field-field-question-details {
        .field-content {
          padding-top: 1em;

          &:first-letter {
            font-size: 46px;
            font-weight: bold;
          }
        }
      }

      .question-row {
        background: $bg;
        color: white;

        .question-so {
          font-size: 48px;
          font-weight: bold;
          margin-top: 2rem;
          margin-bottom: 2rem;
          margin-left: 3rem;
          border: 6px solid white;
          padding: 1rem 2rem;
          position: relative;

          &:before {
            display: block;
            width: 3rem;
            height: 3rem;
            font-size: 48px;
            font-weight: bold;
            content: " ";
            color: white;
            background: url(/sites/default/files/theme-img/quote-left.png) no-repeat center center $bg;
            background-size: contain;
            z-index: 1000;
            top: -2.2rem;
            left: 2rem;
            position: absolute;
            color: white;
            border: 6px solid $bg;
          }

          &:after {
            border: 6px solid $bg;
            display: block;
            content: " ";

            width: 3rem;
            height: 3rem;
            font-size: 48px;
            font-weight: bold;
            background: url(/sites/default/files/theme-img/quote-right.png) no-repeat center center $bg;
            background-size: contain;
            z-index: 1000;
            bottom: -2.2rem;
            right: 3rem;
            position: absolute;
            color: white;
          }
        }

        .question-info-xs,
        .question-info {
          margin-top: 2rem;
          margin-bottom: 2rem;
          font-family: OpenSans, sans-serif;
          font-size: 17px;

          .question-views {
            display: inline-block;
            background: url(/sites/default/files/theme-img/views.svg) no-repeat center left transparent;
            background-size: 24px;
            padding: 0 20px 0 25px;
          }

          .question-answers {
            display: inline-block;
            background: url(/sites/default/files/theme-img/answers.svg) no-repeat center left transparent;
            background-size: 20px;
            padding: 0 0 0 25px;
          }

          .question-post {
            white-space: nowrap;
          }

          .social-buttons-share {
            background: white;
            border-radius: 10px;
            padding: 5px;
            margin-top: 20px;

            .ya-share2__list {
              text-align: center;

              .ya-share2__icon {
                width: 33px;
                height: 33px;
                margin: 0;
                padding: 0;
                background-size: contain;
              }

              .ya-share2__item {
                margin: 5px;
                display: inline-block;
              }

              .ya-share2__item_service_vkontakte .ya-share2__icon {
                background: url(/sites/default/files/theme-img/social/vk-blue.svg) no-repeat center center white;
              }

              .ya-share2__item_service_facebook .ya-share2__icon {
                background: url(/sites/default/files/theme-img/social/fb-blue.svg) no-repeat center center white;
              }

              .ya-share2__item_service_twitter .ya-share2__icon {
                background: url(/sites/default/files/theme-img/social/tw-blue.svg) no-repeat center center white;
              }

              .ya-share2__item_service_reddit .ya-share2__icon {
                background: url(/sites/default/files/theme-img/social/rd-blue.svg) no-repeat center center white;
              }

              .ya-share2__item_service_lj .ya-share2__icon {
                background: url(/sites/default/files/theme-img/social/lj-blue.svg) no-repeat center center white;
              }
            }
          }
        }
      }

      .views-field-field-seo-rating {
        .h2 {
          color: $bg;
          font-size: 44px;
        }

        .seo-img-rate {
          position: relative;
          text-align: center;

          .seo-rate {
            padding-top: 20px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            border-radius: 50%;
            overflow: hidden;
            width: 108px;
            height: 108px;
            color: white;
            font-size: 36px;
            background: #c6c6c6;

            .of-teen {
              font-size: 14px;
              color: #575756;
            }

            .seo-rate-name {
              display: block;
              color: $red;
              font-size: 14.5px;
              font-family: HelveticaBold, Helvetica, Arial, sans-serif;
              text-align: center;
              margin: 0 auto;
              text-transform: uppercase;
            }
          }

          .seo-picture {
            position: absolute;
            top: 30px;
            right: 10%;
            width: 178px;
            height: 178px;
            border-radius: 50%;
            overflow: hidden;

            img {
              max-width: 178px;
              min-height: 178px;
            }
          }
        }

        .seo-mottom-text {
          &:first-letter {
            font-size: 44px;
            color: black;
          }
        }
      }

      .answers-title {
        color: $bg;
        font-weight: bold;
        font-size: 34px;
        text-transform: uppercase;
        font-family: HelveticaBold, sans-serif;
      }

      .answers-list {
        margin-top: 20px;

        .answers-to-question {
          background: transparent;
          border: none;

          .views-row-first {
            position: relative;

            .views-field-field-rate {
              .answer-row {
                border: $red 5px solid;

                .answer-rate {
                  border-left: 5px solid $red;
                }

                &:after {
                  display: block;
                  content: "Лучший ответ";
                  font-family: PFDinTextCondPro, sans-serif;
                  font-size: 21px;
                  color: white;
                  background: $red;
                  border-radius: 10px 10px 0 0;
                  position: absolute;
                  top: -30px;
                  right: 69px;
                  z-index: 1000;
                  padding: 0 10px;
                }
              }
            }
          }

          .views-field-field-rate {

            .answer-row {
              border: white 5px solid;
              background: white;
              margin: 10px 0;
              border-radius: 10px;


              table {
                width: 100%;

                tr {
                  td {
                    padding: 20px;
                    min-height: 100px;
                    vertical-align: top;
                  }
                }

                .user-picture {
                  width: 120px;
                  //padding-right: 0;
                  min-height: 100px;
                  padding: 20px 10px;

                  img {
                    width: 100px;
                    display: block;
                    max-width: 100%;
                    height: auto;
                  }
                }

                .user-info {
                  width: 150px;
                  //width: 15%;
                  padding: 20px 0;

                  table {
                    min-height: 100px;
                    height: 100%;

                    td {
                      height: 50%;
                      padding: 0;
                      width: 100%;
                      overflow: hidden;

                      &.user-name-td {
                        vertical-align: bottom;
                        font-size: 20px;
                        font-family: HelveticaBold, sans-serif;
                        color: black;
                      }

                      &.user-email-td {
                        vertical-align: top;
                        font-size: 12px;
                        color: #9d9d9c;
                      }
                    }
                  }
                }

                .answer-body {
                  font-size: 14px;
                  font-family: OpenSans, sans-serif;
                  color: black;
                  //width:60%;
                  text-align: left;
                  padding-left: 20px;
                }

                .answer-media {
                  text-align: right;

                  a {
                    display: inline-block;
                    float: right;
                  }
                }

                .answer-rate {
                  border-left: 5px solid white;

                  span {
                    display: block;
                    text-align: center;
                  }

                  vertical-align: middle;
                  text-align: center;
                  min-height: 100px;
                  color: $red;
                  font-size: 20px;
                  font-weight: bold;
                  width: 50px;
                }
              }
            }
          }
        }
      }
    }

    #search-block-form--2,
    #search-block-form {
      .form-control {
        &.form-text {
          background: url(/sites/default/files/theme-img/search-icon.svg) no-repeat 7px 50% transparent;
          background-size: 20px;
          padding-left: 30px;
          border: 1px solid $bg;
          color: $bg;
          border-radius: 0;

          &::placeholder {
            color: $bg;
            font-size: 90%;
            text-transform: lowercase;
          }
        }
      }

      .btn {
        &.btn-primary {
          color: $bg;
          background: white;
          border: 1px solid silver;
          border-left: none;
        }
      }
    }

    .region-content {
      &.well {
        background: transparent;
        border: none;
      }
    }

    .footer {
      background: $bg;
      color: white;
      margin-top: 0;
      padding-top: 15px;
      z-index: 1;

      .region-footer {
        display: table;
        position: relative;

        a {
          color: white;
        }

        text-align: justify-all;

        #block-block-5 {
          display: table-cell;
          width: 1%;

          .logo-bottom-svg {
            text-align: center;
            display: block;

            img {
              height: 41.4px;
              display: block;
              margin: 5px auto;
            }
          }
        }

        #block-views-categories-block-1 {
          display: table-cell;

          .block-title {
            display: none;
          }

          .views-view-grid {
            tr {
              td {
                padding: 10px 0 0 10px;
                white-space: nowrap;

                a {
                  font-size: 18px;
                  line-height: 30px;
                  font-family: HelveticaBold, sans-serif;
                  text-transform: uppercase;

                  &:hover {
                    text-decoration: none;
                    color: white;
                  }
                }
              }
            }
          }
        }

        #block-block-6 {
          //display: inline-block;
          display: table-cell;
          padding-top: 10px;

          a {
            font-size: 18px;
            line-height: 30px;
            font-family: HelveticaBold, sans-serif;
            text-transform: uppercase;
            display: block;
            text-align: center;
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }

            &.creator {
              color: $bg;
              background: white;
              padding: 4px 6px;
              border-radius: 4px;
              margin-top: 5px;
            }
          }

          .social-buttons {
            padding: 7px 0 0 0;
            text-align: justify;

            a {
              display: inline;
              padding: 0;
              margin: 0 4px 0 0;

              img {
                width: 25px;
              }
            }
          }
        }

        #block-block-7 {
          display: table-row;

          & > div {
            display: table-cell;
            font-size: 14px;
            font-family: OpenSans, sans-serif;
          }

          .liru {
            width: 260px
          }

          .yaru {
            width: 235px
          }

          .copyleft {
            width: 215px
          }

          .site-phone {
            width: 210px
          }

          .site-mail {

          }
        }
      }

      .footer-counters {
        width: 100%;
        display: table;

        & > div {
          display: table-cell;
          width: 25%;

          a {
            color: white;
            text-decoration: none;
            font-family: OpenSans, sans-serif;
            font-size: 14px;
          }
        }
      }

      border-top: none;
    }

    #answer_form_container {
      bottom: 0;
      right: 50%;
      width: 900px;
      margin-right: -450px;
      z-index: 1000;
      #answer-node-form {
        width: 100%;
        background: $bg;
        border-radius: 20px 20px 0 0;
        padding: 20px 220px 0 20px;
        position: relative;

        &:after {
          position: absolute;
          right: 115px;
          top: -50px;
          z-index: -1;
          display: block;
          content: "";
          background: url(/sites/default/files/theme-img/cat.svg) no-repeat center center transparent;
          background-size: contain;
          width: 112px;
          height: 136px;
        }

        #edit-body {
          .grippie,
          label {
            display: none;
          }

          textarea {
            border-radius: 10px;
            height: 50px;
            padding: 1rem;
            font-size: 20px;

            &::placeholder {
              color: #878787;
            }
          }
        }

        #answer_controls {
          position: absolute;
          top: 20px;
          right: 10px;
          width: 205px;
          z-index: 1000;

          #add_smile_popup,
          #add_media_popup {
            display: none;
          }

          a {
            position: relative;
            padding: 0 10px;
            text-decoration: none;
            display: inline-block;

            &:hover {
              text-decoration: none;
            }

            img {
              height: 44px;
              //width: 44px;
            }

            &#submit_answer_button {
              .hover {
                display: none;
              }

              &:hover {
                .normal {
                  display: none;
                }

                .hover {
                  display: initial;
                }
              }
            }

            &#add_smile_button {
              ul {
                position: absolute;
                top: -223px;
                left: -90px;
                width: 215px;
                text-align: center;
                cursor: pointer;
                list-style: none;
                z-index: 1100;
                background: $bg;
                margin: 0;
                padding: 0;
                border-radius: 10px 10px 0 0;

                li {
                  color: white;
                  margin: 0;
                  padding: 5px;
                  font-size: 20px;
                  display: inline;

                  &:hover {
                    color: $red;
                  }
                }
              }
            }

            &#add_media_button {
              ul {
                position: absolute;
                top: -119px;
                left: -80px;
                width: 215px;
                text-align: center;
                cursor: pointer;
                list-style: none;
                z-index: 1100;
                background: #c6c6c6;
                margin: 0;
                padding: 0;

                li {
                  color: white;
                  margin: 0;
                  padding: 5px;

                  label {
                    width: 100%;
                    cursor: pointer;
                    overflow: hidden;
                    white-space: nowrap;
                    overflow: hidden;
                  }

                  &:hover {
                    background: $red;
                  }
                }
              }
            }
          }
        }
      }
    }

    .pos-fix {
      position: fixed;
    }

    .pos-abs {
      position: absolute;
    }

    .pos-rel {
      position: relative;
    }

    .pos-sta {
      position: static;
    }

    .dropdown-menu {
      top: 99%;
      //bottom: 0;
    }

    &.page-main {
      .page-header {
        margin-top: 30px;
        text-align: center;
        font-family: HelveticaBold, sans-serif;
        color: $bg;
        font-size: 36px;
      }

      .view-id-main {
        .views-row {
          margin: 0;
          padding-left: 20px;
          //border:1px solid $bg;
          .views-field-field-question {
            padding: 50px 0 5px 0;
            font-weight: bold;
            font-size: 20px;
          }

          .views-field-created {
            padding: 10px;
            background: $bg;
            color: white;
            font-size: 13px;
            white-space: nowrap;
          }

          .main-answers {
            .view-answers {
              display: inline-block;
            }
          }
        }
      }
    }

    #adv-sale,
    #gtchanger {
      position: fixed;
      top: 233px;
      right: 0;
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 15px 0 0 0;
      background: $red;
      line-height: 42px;
      text-align: center;
      z-index: 1001;

      img {
        width: 25px;
        height: 25px;
      }

      span {
        display: block;
        position: absolute;
        right: 100%;
        width: 0;
        height: 27px;
        line-height: 27px;
        background: $siver;
        color: $red;
        overflow: hidden;
        font-size: 21px;
        font-family: PFDinTextCondPro, sans-serif;
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        top: 8px;
        padding: 0;
        transition: width 0.3s, opacity 0.3s;
      }

      &:hover {
        span {
          width: 180px;
          opacity: 1;
        }
      }
    }

    #adv-sale {
      top: 275px;
      border-radius: 0 0 0 15px;
    }

    .margin-right-20 {
      margin-right: 20px;
    }

    #colorbox {
      .captcha.panel.panel-default.form-wrapper {
        display: none;
      }

      button[type=submit] {
        background: $bg;
        font-family: PFDinTextCondPro, sans-serif;
        font-size: 24px;
        color: white;
        padding: 5px 12px;
        border-radius: 5px;
        float: right;
      }

      form {
        padding: 20px;

        textarea,
        input[type=password],
        input[type=email],
        input[type=text] {
          font-size: 20px;
          padding: 20px;
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    body {
      .navbar-toggle {
        float: left;
        margin-right: 0;
      }

      header {
        &#navbar {
          .navbar-header {
            text-align: center;

            .login-header,
            .logo-top-svg {
              height: 32px;
              padding: 0;
              margin: 8px 0;
              display: inline-block !important;
              text-decoration: none;

              img {
                height: 32px
              }
            }

            .login-header {
              float: right;
              position: relative;

              .dropdown-menu {
                background: $siver;
                left: auto;
                right: 0;

                a {
                  &:hover,
                  &:focus {
                    background: $red;
                  }
                }
              }
            }
          }

          #navbar-collapse {
            #block-block-4,
            #block-locale-language,
            #block-block-2 {
              display: none;
            }
          }
        }
      }

      .main-container {

        &.container-fluid {
          padding: 0;
        }

        .row {
          & > section {
            &.col-xs-12 {
              padding: 0;
            }
          }
        }
      }

      .footer {
        .container {

          padding: 0;

          .region-footer {
            font-size: 5px;
            line-height: 8px;

            #block-block-5 {
              .logo-bottom-svg {

                img {
                  height: 14px;
                }
              }
            }

            #block-views-categories-block-1 {
              .views-view-grid {
                tr {
                  td {
                    padding: 3px 0 0 3px;

                    .field-content {

                      a {
                        font-size: 5px;
                        line-height: 8px;
                      }
                    }
                  }
                }
              }
            }

            #block-block-6 {
              a {
                font-size: 5px;
                line-height: 8px;
              }

              .social-buttons {
                a {
                  margin: 0;

                  img {
                    width: 10px;
                  }
                }
              }
            }
          }
        }

        .footer-counters {
          display: table-row;

          & > div {
            display: table-cell;
            width: 19%;

            a {
              font-size: 5px;
              line-height: 8px;
            }
          }
        }

        /*
        .region-footer {

          #block-views-categories-block-1,
          #block-block-6,
          #block-block-5 {
            width: 100%;
            display: block;
            margin-top: 30px;
          }

          #block-views-categories-block-1 {
            table {
              display: block;

              tbody {
                display: block;

                tr {
                  display: block;

                  td {
                    font-size: ;
                    display: block;
                  }
                }
              }
            }
          }

          #block-block-6 {
            .social-buttons {
              text-align: center;
              margin: 20px 0;
            }
          }
        }

        .footer-counters {
          display: block;

          & > div {
            display: block;
            width: 100%;
            text-align: center;
          }
        }
        */
      }
      .search-form-xs {
        float: none;
        margin-bottom: 20px;
        #search-block-form--2 {
          padding: 20px 10px;
          margin-bottom: -19px;

          .form-control.form-text {
            padding-left: 35px;
          }

          .form-group {
            margin-bottom: 0;
          }
        }
      }

      &.page-search-node {
        #search-block-form--2 {
          display: none;
        }
      }

      &.page-question {
        .question-row {
          .read-also{
            position: relative;
            //margin-top: -20px;
            a{
              padding: 3px 7px;
              position: absolute;
              top:-30px;
              right:20px;
              display: inline-block;
              border-radius: 5px 5px 0 0;
              background: $bg;
              color:white;
              text-decoration: none;
              &:focus,
              &:hover{
                background: $red;
              }
            }
          }
          .question-so {
            font-size: 42px;
          }
          .question-info-xs {
            text-align: right;
            fint-size: 10 pz;
            margin: 15px 0 -20px 0;

            & > div {
              font-size: 12px;
            }

            .question-answers {
              padding-right: 25px;
              padding-left: 11px;
              background-size: 10px;
            }

            .question-views {
              padding-left: 12px;
              background-size: 11px;
            }

            .question-username {
              padding-right: 20px;
              display: inline-block;
            }
          }

          .question-info {
            margin-top: -20px;

            .question-post {
              font-size: 12px;
              padding-left: 20px;
            }

            .ya-share2__list {
              display: block;
              text-align: justify;

              li {
                width: 17%;
              }
            }
          }
        }

        .views-field-field-question-details {
          .field-content {
            font-size: 15px;
            line-height: 18px;
            padding: 10px;
          }
        }

        .answers-list {
          .answers-to-question {
            .views-field-field-rate {
              .answer-row {
                table {
                  tr {
                    td {
                      min-height: 1px;
                      padding: 10px;
                    }

                    .user-info-row {
                      .user-picture {
                        width: 100px;
                      }

                      .user-info {
                        //width: 70%;
                        table {
                          height: 100px;

                          .user-name-td {
                            vertical-align: bottom;
                            height: 50%;
                            min-height: 50px;
                          }

                          .user-email-td {
                            vertical-align: top;
                            height: 50%;
                            min-height: 50px;
                          }
                        }
                      }
                    }

                    .answer-body {
                      width: 100%;
                    }

                    .answer-media {
                      text-align: center;
                      vertical-align: middle;
                      height: 63px;

                      & > a {
                        padding: 0;
                        float: none;
                        margin: 5px;
                      }
                    }

                    .answer-rate {
                      text-align: right;

                      span {
                        display: inline;
                        font-size: 11px;
                      }
                    }

                  }
                }
              }
            }

            .views-row-first {
              .views-field-field-rate {
                .answer-row {
                  .answer-rate {
                    border-left: none;
                  }
                }
              }
            }
          }
        }

        #answer_form_container {
          right: auto;
          width: 100%;
          margin-left: 0;

          .row {
            .col-sm-12 {
              padding: 0;
            }

            #answer-node-form {
              &:after{
                right:20px;
              }
              & > div {
                width: 100%;
                min-width: 200px;

                #edit-actions--3 {
                  display: none;
                }

                #answer_controls {
                  width: 110px;

                  a {
                    padding: 0 3px;

                    img {
                      height: 28px;
                    }
                  }

                }

                #edit-body {
                  textarea {
                    font-size: 11px;
                    padding: 0.5em;
                    height: 28px;
                  }
                }
              }
            }
          }
        }
        .views-field-field-seo-rating{
          .question-query-xs{
            width:250px;
            margin:20px auto;
          }
          .seo-img-rate{
            margin: 20px 0;
            min-height: 200px;
            .seo-rate{
              left:50%;
              margin-left: -100px;
            }
          }
        }
      }
      &.page-main{
        .view-id-main{
          .views-row{
            padding-left: 0;
          }
        }
      }
    }
  }
}


